* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* First section for Banner */

.banner {
  background-color: #e554731a;
  display: flex;
  justify-content: space-around;
  height: 650px;
  width: 100%;
  padding-top: 30px;
}
.banner-title {
  color: #272727;
  padding: 100px 0px 500px 60px;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
#banner-title-subtext {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Button {
  font-size: 15px;
  border: 5px solid #e55473;
  background: #e55473;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 24px 3px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Featured Flowers */
.featured {
  color: #272727;
  text-align: center;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}

.featured-flowers {
  margin: 120px;
  padding: 50px;
  text-align: center;
}
.featured-paragraph {
  margin: 20px;
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.featured-image {
  width: 320px;
  height: 350px;
  border: none;
  display: inline-block;
  align-items: center;
  border-radius: 150px 150px 0px 0px;
  text-align: center;
}
#PinkFlower1 {
  background-color: #a7216226;
  margin: 4px;
}
#PinkFlower2 {
  background-color: #0597a026;
  margin: 4px;
}
#PinkFlower3 {
  background-color: #477d1126;
  margin: 4px;
}
#PinkFlower1 img {
  width: 210px;
  height: 260px;
  padding-top: 90px;
  padding-bottom: 50px;
}
#PinkFlower2 img {
  width: 210px;
  height: 240px;
  padding-top: 90px;
  padding-bottom: 70px;
}
#PinkFlower3 img {
  width: 210px;
  height: 260px;
  padding-top: 90px;
  padding-bottom: 50px;
}
.flower {
  color: #272727;
  margin: 80px;
  color: #272727;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
/* Hot Deal Section */
.hot-deal {
  display: flex;
  background-color: #e554730d;
  align-items: center;
  justify-content: space-around;
  margin: 150px;
}
.discount-hot-deal {
  color: #272727;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  text-align: center;
  margin: 20px;
}
.discount {
  color: #e55473;
}
.hot-deal-paragraph {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 20px;
}
.Button2 {
  font-size: 15px;
  border: 5px solid #e55473;
  background: #e55473;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  margin-left: 152px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hot-deal-image img {
  height: 318px;
  width: auto;
  margin-right: 120px;
}
/* Instagram section */
.instagram {
  text-align: center;
  display: inline;
}
.instagram-headline {
  color: #272727;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.instagram-text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 15px;
}
.instagram-image {
  display: flex;
  justify-content: center;
}

.instagram-image img {
  margin: 0 8px;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* Latest Deals */
.latest-deals {
  height: 350px;
  background-image: url("../Rectangle\ 9.png");
  background-size: 1010px 360px;
  background-repeat: no-repeat;
  margin-left: 210px;
  margin-right: 170px;
  margin-bottom: 200px;
}

.email {
  padding-top: 100px;
  text-align: center;
  color: #272727;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hot-deals-paragraph {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.email-content {
  margin-top: 30px;
  border: 10px solid white;
  border-radius: 5px;
  width: 500px;
  padding-inline-end: 450px;
  justify-content: center;
  padding: 10px;
}
.Button3 {
  font-size: 15px;
  border: 5px solid #e55473;
  background: #e55473;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  margin-left: 152px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 30px;
}

footer {
  background: #111010;
  width: 1000px;
  margin-top: 150px;
  justify-content: center;
}
footer span {
  color: #e55473;
}
.para-footer {
  color: white;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  padding-top: 100px;
}
.footer-paragraph {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
